/* font for a retro calculator feel */
@import url(https://fonts.googleapis.com/css?family=Audiowide);

/* global styling*/
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #1a0014;
  gap: 15px;
}

/* screen styling */
.display {
  /* layout */
  overflow: hidden;
  padding: 5px;
  height: 75px;
  width: 310px;

  /* style */
  background: rgba(56, 62, 37, 1);
  box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000,
    0px 0px 4px 2px #777;

  /* typography */
  color: black;
  font-size: 3rem;
  font-family: "Audiowide", cursive;
  text-align: right;
  padding-right: 10px; 
}

/* button styling */
.button-grid {
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 3px;
}

.middle-rows {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-top: 3px;
}

.button-body {
  /* layout */
  display: flex;
  justify-content: center;
  width: 75px;
  height: 75px;
  padding-top: 2px;

  /* style */
  background: linear-gradient(145deg, rgb(120, 118, 99), #fff9d6);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
    0 0px 1px rgba(16, 22, 26, 0.2);

  /* effects */
  &:active {
    transform: scale(0.95);
    background: linear-gradient(145deg, rgb(120, 118, 99), #fff9d6);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
      0 0px 1px rgba(16, 22, 26, 0.2);
  }
}

.button-cap {
  /* layout */
  width: 65px;
  height: 65px;
  border-radius: 5px;

  /* style */
  border: none;
  background: linear-gradient(145deg, #d6d2b4, #fff9d6);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
    0 0px 1px rgba(16, 22, 26, 0.2);

  /* typography */
  font-family: "Audiowide", cursive;
  color: black;
  font-size: larger;

  /* effects */
  &:active {
    transform: scale(0.95);
    background: linear-gradient(145deg, #d6d2b4, #fff9d6);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
      0 0px 1px rgba(16, 22, 26, 0.2);
  }

  &:hover {
    cursor: pointer;
  }
}

.button-blue {
  background: linear-gradient(145deg, rgb(110, 131, 129), #d6fff9);

  /* effects */
  &:active {
    transform: scale(0.95);
    background: linear-gradient(145deg, rgb(110, 131, 129), #d6fff9);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
      0 0px 1px rgba(16, 22, 26, 0.2);
  }
}

.blue-cap-blue {
  background: linear-gradient(145deg, #b4d6d2, #d6fff9);

  &:active {
    transform: scale(0.95);
    background: linear-gradient(145deg, #b4d6d2, #d6fff9);
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0px 2px rgba(16, 22, 26, 0.2),
      0 0px 1px rgba(16, 22, 26, 0.2);
  }
}

/* assigned buttons will occupy 2frs */
.wider-button {
  width: 50%;
}

.wider-cap {
  width: 90%;
}